/vendor
/node_modules
.env
_ide_helper.php
/.idea/
/public/components/
/public/build/*
tests/_output/*
npm-debug.log
/public/uploaded_images/*
!public/uploaded_images/Male.jpg
!public/uploaded_images/Female.jpg
!public/uploaded_images/vip.jpg